div {
	display: flex;
	justify-content: space-between;
}

progress {
	flex: 0 0 90%;
  	-webkit-appearance: none;
    appearance: none;
    margin-left: auto;
	// box-shadow: 0.5px 0.5px 1px;

	&::-webkit-progress-bar {
		background: #FFFFFF;
	    border-radius: 2px;
	}

	&::-webkit-progress-value {
	    border-radius: 2px 0 0 2px; 
	}

}

.currentScore {
	progress::-webkit-progress-value {
		background: #8dc73f;
	}
}

.improvedScore {
	progress::-webkit-progress-value {
		background: #f7941e;
	}	
}